a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
}

a:active {
    text-decoration: underline;
    color: black;
}

.page-container {
    margin: 10px;
    padding: 10px 10px 30px;
    font-family: sans-serif;
    background-color: blanchedalmond;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(148,148,148,1);
    -moz-box-shadow: 3px 4px 5px 0px rgba(148,148,148,1);
    box-shadow: 3px 4px 5px 0px rgba(148,148,148,1);
    border-radius: 5px;
}

.category-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.category-list__item {
    margin: 10px;
    background-color: lightgray;
    border-radius: 5px;
    border-width: 3px;
    text-align: center;
    width: 150px;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(148,148,148,1);
    -moz-box-shadow: 3px 4px 5px 0px rgba(148,148,148,1);
    box-shadow: 3px 4px 5px 0px rgba(148,148,148,1);
}

.buttons-grp {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

.button {
    background-color: aliceblue;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(148,148,148,1);
    -moz-box-shadow: 3px 4px 5px 0px rgba(148,148,148,1);
    box-shadow: 3px 4px 5px 0px rgba(148,148,148,1);
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
}

.item-list {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }

.item-list__item {
    margin: 10px;
    background-color: lightgray;
    border-radius: 5px;
    border-width: 3px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(148,148,148,1);
    -moz-box-shadow: 3px 4px 5px 0px rgba(148,148,148,1);
    box-shadow: 3px 4px 5px 0px rgba(148,148,148,1);
}

.item-list__item__delete-button {
    background-color: indianred;
    border-radius: 5px;
}

.item-list__item__edit-button {
    background-color: lightskyblue;
    border-radius: 5px;
}

.add-item-form {
    margin: auto auto 50px;
    display: flex;
    justify-content: space-around;
    width: 75%;
    background-color: cadetblue;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(148,148,148,1);
    -moz-box-shadow: 3px 4px 5px 0px rgba(148,148,148,1);
    box-shadow: 3px 4px 5px 0px rgba(148,148,148,1);
    border-radius: 5px;
}